@import "tailwindcss";

@layer base {

.mobile-text-body {
    @apply text-[17px] leading-[21px];
}

.text-size-20 {
    @apply text-[20px] leading-[24px];
}

.text-size-23 {
    @apply text-[23px] leading-[28px];
}

.text-size-25 {
    @apply text-[25px] leading-[30px];
}

}

.portfolio-tags-item {
  @apply inline-block text-[#3B82F6] text-[20px] leading-[24px] lg:text-[24px] lg:leading-[29px] px-1.5 py-[3px] lg:py-2.5 bg-[#3B82F6]/10 rounded-sm cursor-pointer hover:bg-[#3B82F6]/20;
}

.techstack-frontend-ul li {
  @apply lg:text-[20px] lg:leading-[31px];
}

.web-dev-experiences {
  @apply pl-[28px] pr-[42px] space-y-[14px];
}

.web-dev-experiences p {
  @apply lg:w-[327px] text-[17px] leading-[21px] lg:text-[20px] lg:leading-[24px] lg:w-full;
}